In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('C:/Users/choud/DevVault/Movie-Recommendation-System/Data/netflix_movies_detailed_up_to_2025.csv')

In [7]:
rows, cols = df.shape #Finding number of rows and columns
print('Rows:', rows)
print('Columns:', cols)

Rows: 16000
Columns: 18

In [10]:
df.info

<bound method DataFrame.info of        show_id   type                                         title  \
0        10192  Movie                           Shrek Forever After
1        27205  Movie                                     Inception
2        12444  Movie  Harry Potter and the Deathly Hallows: Part 1
3        38757  Movie                                       Tangled
4        10191  Movie                      How to Train Your Dragon
...        ...    ...                                           ...
15995  1440286  Movie         Festival de ViÃ±a del Mar 2025: Ha*Ash
15996  1271724  Movie                                 Man and Woman
15997  1426364  Movie              Night of the Dead Sorority Babes
15998  1411248  Movie                               A Dunces Burden
15999  1405742  Movie                                Portal to Hell

                                    director  \
0                              Mike Mitchell
1                          Christopher Nolan
2                                David Yates
3                 Byron Howard, Nathan Greno
4                Chris Sanders, Dean DeBlois
...                                      ...
15995                                    NaN
15996                          Vladimir Kott
15997  Angel Nichole Bradford, Steve Hermann
15998                           Daniel Kowal
15999                             Woody Bess

                                                    cast  \
0      Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...
1      Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...
2      Daniel Radcliffe, Emma Watson, Rupert Grint, T...
3      Mandy Moore, Zachary Levi, Donna Murphy, Ron P...
4      Jay Baruchel, Gerard Butler, Craig Ferguson, A...
...                                                  ...
15995                                             Ha*ash
15996  Anna Kotova, Stepan Devonin, Pavel Derevyanko,...
15997  Jessa Flux, Lynn Lowry, Angel Nichole Bradford...
15998                           Riley G, Mitchel Corrado
15999  Trey Holland, Keith David, Richard Kind, Micha...

                                        country  date_added  release_year  \
0                      United States of America  2010-05-16          2010
1      United Kingdom, United States of America  2010-07-15          2010
2      United Kingdom, United States of America  2010-11-17          2010
3                      United States of America  2010-11-24          2010
4                      United States of America  2010-03-18          2010
...                                         ...         ...           ...
15995                                     Chile  2025-02-24          2025
15996                                    Russia  2025-03-13          2025
15997                                       NaN  2025-01-28          2025
15998                                       NaN  2025-03-10          2025
15999                  United States of America  2025-02-22          2025

       rating  duration                                         genres  \
0       6.380       NaN  Comedy, Adventure, Fantasy, Animation, Family
1       8.369       NaN             Action, Science Fiction, Adventure
2       7.744       NaN                             Adventure, Fantasy
3       7.600       NaN                   Animation, Family, Adventure
4       7.800       NaN          Fantasy, Adventure, Animation, Family
...       ...       ...                                            ...
15995   0.000       NaN                                          Music
15996   0.000       NaN                                          Drama
15997   1.000       NaN                                         Horror
15998   0.000       NaN                                            NaN
15999   0.000       NaN                                 Comedy, Horror

      language                                        description  popularity  \
0           en  A bored and domesticated Shrek pacts with deal...     203.893
1           en  Cobb, a skilled thief who commits corporate es...     156.242
2           en  Harry, Ron and Hermione walk away from their l...     121.191
3           en  Feisty teenager Rapunzel, who has long and mag...     111.762
4           en  As the son of a Viking leader on the cusp of m...     110.044
...        ...                                                ...         ...
15995       es                                                NaN       4.931
15996       ru  Poignant stories about men and women who have ...       4.930
15997       en  Two villainous entities initiate gorgeous soro...       4.922
15998       en                                    A Dunces Burden       4.921
15999       en  After a debt-collector finds a portal to hell ...       4.921

       vote_count  vote_average     budget    revenue
0            7449         6.380  165000000  752600867
1           37119         8.369  160000000  839030630
2           19327         7.744  250000000  954305868
3           11638         7.600  260000000  592461732
4           13259         7.800  165000000  494879471
...           ...           ...        ...        ...
15995           0         0.000          0          0
15996           0         0.000          0          0
15997           1         1.000          0          0
15998           0         0.000          0          0
15999           0         0.000          0          0

[16000 rows x 18 columns]>

In [ ]:
df.type

0        Movie
1        Movie
2        Movie
3        Movie
4        Movie
         ...
15995    Movie
15996    Movie
15997    Movie
15998    Movie
15999    Movie
Name: type, Length: 16000, dtype: object

In [12]:
df.dtypes

show_id           int64
type             object
title            object
director         object
cast             object
country          object
date_added       object
release_year      int64
rating          float64
duration        float64
genres           object
language         object
description      object
popularity      float64
vote_count        int64
vote_average    float64
budget            int64
revenue           int64
dtype: object

In [14]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,language,description,popularity,vote_count,vote_average,budget,revenue
0,10192,Movie,Shrek Forever After,Mike Mitchell,"Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...",United States of America,2010-05-16,2010,6.380,NaN,"Comedy, Adventure, Fantasy, Animation, Family",en,A bored and domesticated Shrek pacts with deal...,203.893,7449,6.380,165000000,752600867
1,27205,Movie,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...","United Kingdom, United States of America",2010-07-15,2010,8.369,NaN,"Action, Science Fiction, Adventure",en,"Cobb, a skilled thief who commits corporate es...",156.242,37119,8.369,160000000,839030630
2,12444,Movie,Harry Potter and the Deathly Hallows: Part 1,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, T...","United Kingdom, United States of America",2010-11-17,2010,7.744,NaN,"Adventure, Fantasy",en,"Harry, Ron and Hermione walk away from their l...",121.191,19327,7.744,250000000,954305868
3,38757,Movie,Tangled,"Byron Howard, Nathan Greno","Mandy Moore, Zachary Levi, Donna Murphy, Ron P...",United States of America,2010-11-24,2010,7.600,NaN,"Animation, Family, Adventure",en,"Feisty teenager Rapunzel, who has long and mag...",111.762,11638,7.600,260000000,592461732
4,10191,Movie,How to Train Your Dragon,"Chris Sanders, Dean DeBlois","Jay Baruchel, Gerard Butler, Craig Ferguson, A...",United States of America,2010-03-18,2010,7.800,NaN,"Fantasy, Adventure, Animation, Family",en,As the son of a Viking leader on the cusp of m...,110.044,13259,7.800,165000000,494879471

In [20]:
numerical_cols =df.select_dtypes(include=['number'])
numerical_cols=numerical_cols.drop(columns=['show_id','release_year','duration'])
mean_values = numerical_cols.mean()
median_values = numerical_cols.median()
mode_values = numerical_cols.mode().iloc[0]

print("Mean:\n", mean_values)
print("Median:\n",median_values)
print("Mode:\n", mode_values)

Mean:
 rating          5.956368e+00
popularity      2.038473e+01
vote_count      7.186561e+02
vote_average    5.956368e+00
budget          8.766792e+06
revenue         2.446308e+07
dtype: float64
Median:
 rating            6.3000
popularity       10.9135
vote_count      138.0000
vote_average      6.3000
budget            0.0000
revenue           0.0000
dtype: float64
Mode:
 rating          0.000
popularity      5.379
vote_count      0.000
vote_average    0.000
budget          0.000
revenue         0.000
Name: 0, dtype: float64

In [24]:
min_values=numerical_cols.min()
max_values=numerical_cols.max()
range_values=max_values-min_values

print('Minimum Values:\n',min_values)
print('Maximum Values:\n',max_values)
print('Range Values:\n',range_values)

Minimum Values:
 rating          0.00
popularity      3.86
vote_count      0.00
vote_average    0.00
budget          0.00
revenue         0.00
dtype: float64
Maximum Values:
 rating          1.000000e+01
popularity      3.876006e+03
vote_count      3.711900e+04
vote_average    1.000000e+01
budget          4.600000e+08
revenue         2.799439e+09
dtype: float64
Range Values:
 rating          1.000000e+01
popularity      3.872146e+03
vote_count      3.711900e+04
vote_average    1.000000e+01
budget          4.600000e+08
revenue         2.799439e+09
dtype: float64

In [25]:
standard_deviation=numerical_cols.std()
print('Standard Deviation:\n',standard_deviation)

Standard Deviation:
 rating          1.754741e+00
popularity      6.861003e+01
vote_count      2.080198e+03
vote_average    1.754741e+00
budget          2.912450e+07
revenue         1.116977e+08
dtype: float64

In [26]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set_style("whitegrid")

# --- 1. Histogram of Movie Ratings ---
plt.figure(figsize=(10, 6))
sns.histplot(df['rating'], bins=20, kde=True, color='skyblue')
plt.title('Distribution of Movie Ratings')
plt.xlabel('Rating')
plt.ylabel('Number of Movies')
plt.show() # Close the plot to prevent it from displaying in a script environment

# --- 2. Bar Chart of Top 10 Countries ---
plt.figure(figsize=(12, 8))
# Clean data by removing rows where 'country' is missing
df_countries = df.dropna(subset=['country'])
country_counts = df_countries['country'].str.split(', ').explode().value_counts()
top_10_countries = country_counts.head(10)
sns.barplot(x=top_10_countries.values, y=top_10_countries.index, palette='viridis')
plt.title('Top 10 Countries by Number of Movies Produced')
plt.xlabel('Number of Movies')
plt.ylabel('Country')
plt.show()

# --- 3. Pie Chart of Movie Genres ---
plt.figure(figsize=(12, 12))
# Clean data by removing rows where 'genres' is missing
df_genres = df.dropna(subset=['genres'])
genre_counts = df_genres['genres'].str.split(', ').explode().value_counts()
# Group less frequent genres into 'Other' for clarity
top_genres = genre_counts.head(10)
other_count = genre_counts.iloc[10:].sum()
top_genres['Other'] = other_count
# Create the donut chart
plt.pie(top_genres, labels=top_genres.index, autopct='%1.1f%%', startangle=140, pctdistance=0.85)
centre_circle = plt.Circle((0,0),0.70,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)
plt.title('Proportion of Movie Genres')
plt.axis('equal')
plt.show()

# --- 4. Boxplot of Movie Popularity ---
plt.figure(figsize=(10, 6))
sns.boxplot(x=df['popularity'], color='lightcoral')
plt.title('Distribution of Movie Popularity')
plt.xlabel('Popularity Score')
plt.xscale('log') # Use a log scale to better visualize the wide range of data
plt.show()

# --- 5. Line Chart of Movies Released Per Year ---
plt.figure(figsize=(12, 6))
movies_per_year = df['release_year'].value_counts().sort_index()
# Filter to show a relevant trend up to the last full year
movies_per_year = movies_per_year.loc[movies_per_year.index <= 2024]
sns.lineplot(x=movies_per_year.index, y=movies_per_year.values, marker='o', color='mediumseagreen')
plt.title('Number of Movies Released Per Year')
plt.xlabel('Year')
plt.ylabel('Number of Movies')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

# --- 6. Scatter Plot of Rating vs. Popularity ---
plt.figure(figsize=(10, 6))
# Filter out movies with a rating of 0 for a more meaningful plot
df_scatter = df[df['rating'] > 0]
sns.scatterplot(x='vote_average', y='popularity', data=df_scatter, alpha=0.5, color='purple', edgecolor='w')
plt.title('Relationship Between Rating and Popularity')
plt.xlabel('Average Vote')
plt.ylabel('Popularity')
plt.yscale('log') # Use a log scale to handle the wide range of popularity values
plt.show()

C:\Users\choud\AppData\Local\Temp\ipykernel_25240\1902276436.py:18: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=top_10_countries.values, y=top_10_countries.index, palette='viridis')

All 6 plots have been generated and saved successfully.